*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  }

 a{
    text-decoration: none;
    color: #000;
  }
  
  ul, ol, li {
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
      /* для теста */
    height: 2600px;
  }
  
  main {
    flex: 1;
  }
  
  nav {
    display: inline;
  }

  header {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: rgb(255, 255, 255, 0.935);
    transition: all 0.6s ease;
    box-shadow: 0 0 10px black;
    user-select: none;
  }

  .header_logo {
    display: inline-block;
    align-items: center ;
    margin-top: 9px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
  }

  .header_logo_picture{
    max-width: 30px;
    max-height: 30px;
    margin-top: -7px
  }

  .list-unstyled {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .menu_number {
    display: inline-block;
    margin-top: 16px;
  }

  .menu_number_picture {
    width: 30px;
    height: 30px;
    margin-top: -3px;
  }

  .menu_link {
    color: #000;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.2s linear;
  }

   .menu_link:hover {
    color: deeppink; /* Цвет текста */
   }

  .d-inline {
    align-items: center;
  }

  .first_screen {
    margin-top: 120px;
  }

  .hero_img {
    max-width: 90%;
    max-height: 90%;
    user-select: none;
  }

  .hero_contetnt {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

  .hero_title {
    display: flex;
    font-size: 45px;
    justify-content: center;
    margin-bottom: 10%;
    text-align: left;
  }

  .hero_descr {
    font-size: 18px;
    font-weight: 300;
  }

  .hero_btn {
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    user-select: none;
  }

  .hero_btn img{
    justify-content: center;
    display: flex;
  }

  .hero_btn a {
    display: flex;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #f8bad0;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgb(34 60 80 / 20%) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}